.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/assets/mainBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.logo {
  width: 350px;
  height: auto;
  
}

.enterText {
  color: black;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.createGameText {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #1a1a1a;
  margin-top: 1.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 25px;
  border: 2px solid #e681ad;
  background-color: #e681ad;
  transition: all 0.3s ease;
  cursor: pointer;
}

.createGameText:hover {
  color: rgb(0, 0, 0);
  background-color: #fdc44e;
  border-color: #fdc44e;
  transform: translateY(-3px);
}

/* 5 code input */
.codeInputGroup {
  display: flex;
  gap: 12px; 
}

.codeInputBox {
  background-color: white;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  border: 1.5px solid black;
  border-radius: 8px;
  color: black;
  outline: none;
  caret-color: black;
}

/* handle incorrect code */
.errorInputBox {
  border-color: red !important;
  box-shadow: 0 0 5px red;
}


/* button */
.joinButton {
  background-color: #e681ad;
  color: black;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 50px; 
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.joinButton:hover {
  color: rgb(0, 0, 0);
  background-color: #fdc44e;
  border-color: #fdc44e;
  transform: translateY(-3px);
}